.header-rating {
   width: 100vw;
   height: 8vh;
   display: flex;
   justify-content: space-between;
   align-items: center;

   .header-rating-div {
      width: 18%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 15%;
      color: aqua;

      .img-header-rating-back {
         width: 15px;
         height: auto;
         object-fit: cover;
      }

      .span-header-rating {
         width: auto;
         margin: 0;
         font-size: 13px;
      }
   }
}