
.page-result{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.head-back{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
}
.hd{
  display: flex;
  align-items: flex-end;
}
.no-data{
  margin-top: 50px;
  width: 290px;
  font-size: medium;
}
.logo-x-r{
  width: 25px;
  margin-top: 25px;
  margin-right: 35px;
}
.logo-back{
  width: 25px;
}
.text-b{
  color: blue;
}


.box-inf{
  display: flex;
  justify-content: center;
}

.image-container {
  position: relative;
  width: 200px;
  height: 200px; 
}

.my-result {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: 55px;
  display: grid;
  align-items: center;
  justify-items: center;
}


.logos-container {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  margin-left: 90px;
  justify-content: space-between;
  
}

.logos-container img {
  width: 50px;
  height: auto; 
}
strong{
  -webkit-text-stroke: thin;

}
.result-p{
width: 100%;
justify-content: center;
margin-bottom: 50px;
display: grid;
  justify-items: center
}

.result-n{
  width: 293px;
  font-size: medium;
  margin-top: 25px;
}
.p-n{
  width: 235px;
}

.scan-button{
  margin-top: 100px;
}

.blue-button {
  background-color: #007bff; 
  color: white; 
  padding: 10px 20px; 
  font-size: 16px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  width: 250px;
  margin-bottom: 50px;
}

.blue-button:hover {
  background-color: #0056b3;
}


.product-img{
  width: 150px;
}

.my-result {
  border: 10px solid #000000;

}
.ing{
  text-align: left;
  width: 300px;
  display: flex;
  justify-content: center;
}


/* .result-p .p-n + .my-result {
  border: 10px solid #ff00e4;
  position: relative;
}


.result-p .p-n + .my-result {
  border: 10px solid #ff6600;
  position: relative;
}

.result-p .apto + .my-result {
  border: 10px solid #0051ff;
  position: relative;
}
 */
.log-check-b{
  left: 17px;
  position: absolute;
  width: 81px;
  top: 69px;
}
.log-check-c{
  left: 25px;
  position: absolute;
  width: 80px;
  top: -40px;
}

.log-check{
  left: 25px;
  position: absolute;
  width: 80px;
  top: 155px;
}

.img-r{
width: 100px;
z-index: -1;
}

.nm{
margin-top: 60px;
margin-bottom: 10px;
    -webkit-text-stroke: thick;
    font-size: x-large;
    width: 240px;

}
.apto{
  margin-top: 50px;
  font-size: medium;
}
.title-1{
  display: flex;
  justify-content: center;
}
.t{
  width: 220px;
}
.marc{
  
  -webkit-text-stroke: medium;
  margin-bottom: 20px;

}
.vox{
  display: grid;
  justify-items: center;
}
.my-result:first-child {
border-color: #0051ff; /* Cambio del borde a azul cuando se muestra el primer log-check */
}

// .log-check-b,
// .log-check {
// display: none; 
// }

.page-result .my-result {
/* hay coincidencia */
border-color: #0051ff;
}

.page-result.no-match .my-result {
/* no hay coincidencia */
border-color: #ff9100;
background-image: url(https://images.vexels.com/media/users/3/152599/isolated/preview/3919975f3dac8628047ecb23632a9841-vector-de-simbolo-de-signo-de-interrogacion.png);
background-position: center;
background-size: cover;
}

.page-result.no-match .log-check-c,
.page-result.no-match .log-check,
.page-result.no-match .nm,
.page-result.no-match .marc,
.page-result.no-match .ap,
.page-result.no-match .ing,
.page-result.no-match .p-n

{
/*no hay coincidencia */
display: none;
}

.page-result.no-match .log-check-b {
/*hay coincidencia */
display: block;
}


.loading {
position: fixed;
top: 50%;
left: 17%;
transform: translate(-50%, -50%);
font-size: 24px;
color: #333;
background-color: rgba(255, 255, 255, 0.8);
padding: 20px;
border-radius: 8px;
z-index: 9999;
animation: pulse 1.5s ease-in-out infinite;
font-size: xxx-large;
}

@keyframes pulse {
0% {
  transform: scale(0.9);
}
50% {
  transform: scale(1);
}
100% {
  transform: scale(0.9);
}
}

// .my-result:foundProduct && foundProduct.isSafe{
//   border-color: red;
  
// }
// ResultPage.scss
.my-result {
  // Estilos predeterminados
  // ...

  &.border-red {
    border-color: rgb(202, 0, 94);
  }

  &.border-blue {
    border-color: blue;
  }
}
