.home-icon-div {
   width: 70px;
 }

.mini-header {
   margin-top: 40px;
   margin-left: 22px;
   margin-right: 22px;
   margin-bottom: 15px;
 
   .volver-div {
     font-family: "Montserrat", sans-serif;
     font-weight: 400;
     display: flex;
     color: #00cadf;
     font-size: 13px;
     justify-content: space-between;
     align-items: flex-end;
 
     &__content {
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
     }
   }

   .p-numbers {
      margin-top: 6px;
    }
 
   .left-arrow {
     height: 13px;
     margin-right: 10px;
   }
 
   p {
     font-family: "Montserrat", sans-serif;
     font-weight: 500;
     font-size: 12px;
   }
 
   .p-volver {
     color: #00cadf;
   }
 }

.header-ingredients {

   width: 100vw;
   height: 20vh;
   display: flex;
   flex-direction: column;
   justify-content: space-around;

   .header-ingredients-div-link {
      width: 100%;
      height: 20%;
      display: flex;

      .a-header-ingredients {
         width: 40%;
         height: 100%;
         margin-left: 2%;

         .header-ingredients-div {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            color: aqua;
            
            .img-header-ingredients-back {
               width: 15px;
               height: auto;
               object-fit: cover;
            }
            
            .span-header-ingredients {
               width: auto;
               margin: 0;
               font-size: 13px;
            }
         }
      }

      .span-header-scanner {
         width: 60%;
         height: 100%;
         font-size: 13px;
         text-align: justify;
      }
   }

   .header-ingredients-div-title {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
   }
}
.header-confirm {
   width: 100vw;
   height: 8vh;
   display: flex;
   justify-content: flex-end;
   align-items: center;

   .a-header-confirm-close {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 2%;
      
      .img-header-confirm-close {
         width: 25px;
         height: auto;
         align-items: center;
         object-fit: cover;
      }
   }
}