.footer-rating {
   width: 100vw;
   height: 15vh;
   display: flex;
   justify-content: center;
   align-items: center;

   .buttonGeneral {
      color: #00cadf;
      background-color: transparent;
   }
}

.p-volver {
   color: #00cadf;
 }

 .left-arrow {
   height: 13px;
   margin-right: 10px;
 }