.footer-main {
   width: 100vw;
   height: 5vh;
   display: flex;
   justify-content: space-around;
   align-items: center;

   .img-footer-main {
      width: 50px;
      height: auto;
      object-fit: cover;
   }
}